body {
  background-image: url("http://vignette3.wikia.nocookie.net/quiz-rpg-the-world-of-mystic-wiz/images/5/50/Wiki-background/revision/20140817233453");
}

#title {
  opacity: 0;
  font-size: 100px;
  margin-top: 300px;
}

#startbtn{
  opacity: 0;
  cursor: pointer;
  font-size: 60px;
  margin-top: 20px;
}

#startbtn:hover{
  color: red;
}
